[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-book = "*"
jupyter = "*"
numpy = "*"
typing-extensions = "*"
matplotlib = "*"
pyppeteer = "*"
myst-nb = "*"
pandas = "*"
scipy = "*"
ipykernel = "*"
ipython = "*"
docutils = "0.17.1"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
